* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

:root {
  --white-primary: #f5f6fa;
  --white-secondary: #dcdde1;
  --blue-primary: #244bc5;
  --blue-secundary: #274fc7;
  --red-primary: #ff6b6b;
}
